<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DC Crime Data Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Leaflet JS & CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>DC Crime Data Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Click on the below images to see each visualization</h3>
        <div class="col-md-6">
          <h2>DC Crime Map</h2>
          <h4>Access this page to see where crime is concentrated around the city.</h4>
          <a href="/map">
            <img src="{{ url_for('static', filename='images/crime_map.JPG') }}" alt="DC Crime Map"width="600" height="300"></a>
         </a>
        </div>
        <div class="col-md-6">
            <h2>DC Crime Occurrences Over the Year</h2>
            <h4>Access this page to see which months crime occurs more frequently in each ward.</h4>
          <a href="/line_chart">
            <!--need to do the below for ALL IMAGES not in the html-->
            <img src="{{ url_for('static', filename='images/line_chart.JPG') }}" alt="DC Crime Occurences Over the Year"width="600" height="300"></a>
        </div>
        <div class="col-md-6">
          <h2>DC Crime Threat Analysis</h2>
          <h4>Access this page to see what times of day have the highest concentration of crime.</h4>
          <a href="/time_wheel">
            <img src="{{ url_for('static', filename='images/time_wheel.JPG') }}" alt="DC Threat Level Time Wheel" width="400" height="300"></a>
         </a>
        </div>
        <div class="col-md-6">
            <h2>DC Crime Placeholder text</h2>
            <h4>Access this page to see ____________________.</h4>
          <a href="/">
            <img src="{{ url_for('static', filename='images/machine_learning.JPG') }}" alt="DC Predictive Model"width="600" height="300"> </a>
         </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>
